* 
  box-sizing: border-box
  

body 
  margin: 0
  padding: 0
  text-align: center
  font-family: Roboto Condensed, monospace
  background-color: #2b3137
  color: #b3bac2
  

h1 
  display: inline-block

h1 
  font-size: 40px
  color: #fff
  padding: 10px
  margin: 0
  position: absolute
  align: left


h2 
  font-size: 20px
  padding: 5px

div 
  display: inline-block

.divhead
  width: 100%
  padding: 0
  margin: 0
  background: #3e4146
  border-radius: 10px 10px 0 0

button 
  border: solid 0px rgba(27, 31, 35, 0.2)
  background-color: #3e4146
  padding: 12px
  margin: 0
  border-radius: 6px
  color: #b3bac2
  font-weight: bold
  transition-duration: 0.2s

button:hover 
  background-color: #41475b
  color: #fff

button#next, button#stop 
  border-radius: 0
  float: right

button#next
  border-radius: 0px 10px 0px 0px

input[type=text] 
    padding: 12px 20px
    margin: auto
    box-sizing: border-box
    border-radius: 0px 0px 6px 6px
    border: solid 1px #44474c



input[type=text]#linkbox 
  background: #484b51
  color: #b3bac2
  font-weight: bold
  width: 100%


.header
  background-color: #36393e
  display: inline-block
  position: relative
  width: 75%
  margin: auto
  height: 54px
  text-align: left
  border-bottom: solid 1px #2b2e32
  box-shadow: 0 1px 0 #33363a
  z-index: 1

.headerwrapper
  background-color: #2f3136
  display: inline-block
  position: relative
  width: 100%
  margin: 0px
  height: 54px
  border-bottom: solid 1px #2b2e32
  box-shadow: 0 1px 0 #33363a
  z-index: 1

.userinfo 
  height: 54px
  padding: 1%
  margin: 0
  margin-top: 1em
  display: inline-block
  color: #fff
  position: relative
  font-size: 16px
  align: right
  float: right

.musicui
  margin: auto
  padding: 0
  

ul
  overflow: hidden
  overflow-y: scroll
  list-style-type: none
  list-style-position: inside
  padding: 0
  max-height: 200px
  margin: auto
  margin-top: 0
  border: solid 0px #44474c
  border-bottom: none
  border-top: none
  border-radius: 5px 5px 0 0


li 
  padding: 12px 12px
  border-bottom: solid 1px #44474c
  color: #b3bac2

li:nth-child(odd)  
  background: #36393e

.content 
  background: #36393e
  display: block
  position: relative
  height:100%
  max-width: 75%
  margin: auto
  padding: 2%
  z-index: 0

.contentwrapper
  background: #2f3136
  max-width:100%
  display: block
  position: relative
  height:100%
  margin: 0
  padding-bottom: 100%
  z-index: 0

.song
  color: #b3bac2
  font-weight: bold
  font-size: 30
  padding: 0
  
  margin: auto
  margin-bottom: 0
  margin-top: 10px

::-webkit-scrollbar 
    width: 8px

 
/* Track */
::-webkit-scrollbar-track 
    background: #2f3136
    -webkit-border-radius: 5px
    border-radius: 5px
    margin-top: 5px
    margin-bottom: 5px
 
/* Handle */
::-webkit-scrollbar-thumb 
    -webkit-border-radius: 5px
    border-radius: 5px
    box-shadow: 0 3px 0 0 #36393e, 0 -3px 0 0 #36393e
    background: #1e2124



