* {
  box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  font-family: Roboto Condensed, monospace;
  background-color: #2b3137;
}
h1,
h2 {
  display: inline-block;
}
h1 {
  font-size: 80px;
  color: #fff;
  padding: 0;
  margin: 0;
  position: absolute;
  align: center;
}
h2 {
  font-size: 20px;
  padding: 5px;
}
div {
  display: inline-block;
}
button {
  border: solid 1px rgba(27,31,35,0.2);
  background-color: #fff;
  padding: 12px;
  margin: 3px;
  border-radius: 6px;
  color: #0366d6;
  font-weight: bold;
  transition-duration: 0.2s;
}
button:hover {
  background-color: #0366d6;
  color: #fff;
}
input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: auto;
  align: right;
  box-sizing: border-box;
  border-radius: 0px 0px 6px 6px;
  border: solid 1px #c8e1ff;
}
input[type=text]:focus {
  border: solid 1px #0366d6;
}
input[type=text].placeholder {
  color: rgba(27,31,35,0.1);
  font-weight: bold;
}
.header {
  background-color: #24292e;
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0px;
  height: 12%;
}
.userinfo {
  background-color: #35403f;
  width: 8.33%;
  padding: 2%;
  display: inline-block;
  color: #fff;
  position: relative;
  align: right;
}
ul {
  overflow: hidden;
  overflow-y: scroll;
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  max-height: 200px;
  width: 50%;
  margin: auto;
  border: solid 1px #c8e1ff;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
li {
  padding: 12px 12px;
}
n,
li:nth-child(odd) {
  background: #f1f8ff;
}
.content {
  background: #fff;
  display: block;
  position: relative;
  max-height: 30%;
  margin-top: 8.33%;
  padding: 2%;
}
.song,
.artist {
  color: #0366d6;
  font-weight: bold;
  font-size: 30;
}
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(27,31,35,0.1);
}
